@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

body{
  background: url('../../../../assets/background_proyect_create.png') no-repeat;
  font-family: 'Poppins', sans-serif;
}


.centered {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

.InputStyle{
border-radius: 25px;
border: solid 1px white;
background: transparent;
width: 300px;
  padding: 10px 20px;
}

.firstLine{
font-size: 30px;
color: white;
}

.white{
  color:white;
}

.btn{
  background-color: wheat;
}


.users-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente línea cuando no hay más espacio */
  gap: 15px; /* Espacio entre los elementos */
}

.user-item {
  display: flex;
  align-items: center;
}

.user-bubble {
  display: flex;
  align-items: center;
  background-color: #f1f1f1; /* Color de fondo para los elementos de usuario */
  padding: 5px 10px; /* Espaciado interno */
  border-radius: 20px; /* Bordes redondeados */
}

.user-icon {
  width: 30px; /* Tamaño del icono */
  height: 30px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre el icono y el texto */
}

.user-info {
  margin-right: 10px; /* Espacio entre el texto y el icono de eliminar */
  color:rgb(80, 109, 236);
}
