<!DOCTYPE html>
<html lang="en">
<head>
  <title>BRANCHEE</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: url('../../../../assets/background_proyect_create.png');">
  <div class="w-[600px] bg-white bg-opacity-20 backdrop-blur-md shadow-lg text-white rounded-lg p-8 font-mono ">

    <div class="text-5xl font-mono font-extrabold text-center mb-10">
      {{proyect_details.name_proyect}}<span class="text-sm text-slate-300 inline">#{{proyect_details.proyectoId}}</span>
    </div>

    <form>
      <div class="grid grid-cols-2 gap-4">

        <div>
          <label class="block text-sm text-center">Project Boss</label>
          <div class="flex  bg-gray-700 p-2 rounded-lg">
            <img src="assets/user_icon.webp" alt="User Icon" class="w-10 h-10 rounded-full ">
            <p class="ml-2">{{ user_boss.username }}</p>
          </div>
        </div>

        <div>
          <label class="block text-sm text-center">Created Date</label>
          <div class="p-2 rounded-lg border">
            <p>
              {{proyect_details.date_created}}
            </p>
          </div>
        </div>
      </div>

      <div class="mt-4" *ngIf="userIsBoss">
        <label class="block text-sm">Search User</label>
        <input type="text" #userSearch class="w-full bg-transparent border border-white rounded-lg p-2 text-white"
          placeholder="Search user" (keyup)="searchUser($event)" required>
        <ul class="mt-2 bg-white bg-opacity-20 backdrop-blur-md rounded-lg overflow-y-auto max-h-40"
          [class.show]="user_list.length > 0">
          <li *ngFor="let user of user_list" class="p-2 hover:bg-gray-600 cursor-pointer" (click)="addUser(user,userSearch)">
            {{ user.username }}
          </li>
        </ul>
      </div>


      <label class="block text-sm mt-4">USERS LIST</label>
      <div class="flex flex-wrap gap-2">
        <div *ngFor="let user of selectedUsers" class="flex items-center bg-gray-700 p-2 rounded-lg">
          <img src="assets/user_icon.webp" alt="User Icon" class="w-6 h-6 rounded-full">
          <p class="ml-2">{{ user.username }}</p>
          <i class="bi bi-trash3-fill text-red-500 cursor-pointer ml-2" (click)="removeUser(user.usuarioId)" *ngIf="userIsBoss"></i>
        </div>
      </div>

      <label class="block text-sm mt-4" *ngIf="proyect_details.tareas.length != null && proyect_details.tareas.length != 0 ">TASKS LIST</label>
      <div class="flex flex-wrap gap-2">
        <div *ngFor="let task of proyect_details.tareas"
          class="p-2 rounded-lg border" [ngStyle]="{'border-color': getBorderColor(task.estado)}">
          <p class="cursor-pointer" (click)="toTaskDetailsPage(task.tareaId)">{{ task.name_task }}</p>
        </div>
      </div>

      <div class="mt-6">
        <div *ngIf="!userIsBoss" class="flex gap-2">
          <button type="submit" class="btn btn-primary w-1/2 bg-blue-500 p-2 rounded-lg transition delay-150 duration -300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-blue-600" (click)="editProyect()">Save</button>
          <button type="button" class="btn btn-primary w-1/2 bg-gray-500 p-2 rounded-lg transition delay-150 duration -300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-gray-500" (click)="goBack()">Back</button>
        </div>

        <div *ngIf="userIsBoss">
          <button type="submit" class="w-full bg-blue-500 p-2 rounded-lg mb-2 transition delay-150 duration -300 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-blue-600" (click)="editProyect()">Save</button>
          <div class="flex gap-2">
            <button type="submit" class="w-1/2 bg-red-700 p-2 rounded-lg text-white transition delay-150 duration -300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-red-800">Delete</button>
            <button type="button" class="w-1/2 bg-gray-500 p-2 rounded-lg text-white transition delay-150 duration -300 ease-in-out hover:-translate-y-1 hover:scale-105 hover:bg-gray-500" (click)="goBack()">Back</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>
