<!DOCTYPE html>
<html lang="en">
<head>
  <title>BRANCHEE</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
    body {
      font-family: 'Poppins', sans-serif;
    }
  </style>
</head>
<body class="flex justify-center items-center min-h-screen bg-cover bg-center" style="background-image: url('../../../../assets/background_proyect_create.png');">
  <div class="w-[800px] bg-white bg-opacity-20 backdrop-blur-md shadow-lg text-white rounded-lg p-8">
    <p class="text-3xl font-extrabold text-center mb-6">TASK CREATE</p>
    <form>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div>
          <input type="text" class="w-full p-2 border border-white bg-transparent rounded-lg text-white placeholder-gray-300" placeholder="Task Name" [(ngModel)]="task.name_task" name="name">
        </div>
        <!-- PROJECT ASSIGNED -->
        <div>
          <input class="w-full bg-transparent border border-white rounded-lg p-2 text-white placeholder-gray-300" name="proyect" [value]="selectedProjectName" readonly (click)="toggleDropdown()" placeholder="Select Project">
          <ul class="absolute bg-white text-black rounded-lg shadow-md mt-2 w-full max-h-48 overflow-y-auto" [class.hidden]="!isDropDownOpen">
            <li *ngFor="let project of proyectList" class="p-2 cursor-pointer hover:bg-gray-200" (click)="selectProject(project)">{{ project.name_proyect }}</li>
          </ul>
        </div>
        <!-- STATUS -->
        <select [(ngModel)]="task.estado" name="status" class="w-full bg-transparent border border-white rounded-lg p-2 text-white appearance-none">
          <option value="" disabled selected class="text-gray-300">SELECT A STATUS</option>
          <option *ngFor="let option of status_options" [value]="option" class="bg-gray-700 text-white">{{ option }}</option>
        </select>
      </div>

      <div class="mt-4">
        <select name="user_assigned" class="w-full bg-transparent border border-white rounded-lg p-2 text-white" (change)="onUserSelected($event)">
          <option value="" disabled selected class="text-gray-300">ASSIGN A USER</option>
          <option *ngFor="let user of assignedUsers_options" class="bg-gray-700 text-white" [value]="user.usuarioId">{{ user.username }}</option>
        </select>
      </div>
      <div class="flex flex-wrap gap-4 mt-4">
        <div *ngFor="let user of assignedUsers" class="flex items-center bg-gray-700 p-2 rounded-lg">
          <img src="assets/user_icon.webp" alt="User Icon" class="w-8 h-8 rounded-full mr-2">
          <p class="mr-2">{{ user.username }}</p>
          <i class="bi bi-trash text-red-500 cursor-pointer" (click)="removeUser(user.usuarioId)"></i>
        </div>
      </div>
      <!-- DESCRIPTION -->
      <div class="mt-4">
        <textarea class="w-full bg-transparent border border-white rounded-lg p-2 text-white placeholder-gray-300" name="description" [(ngModel)]="task.descripcion" placeholder="Description"></textarea>
      </div>
      <div class="mt-4">
        <input type="file" class="w-full border border-white rounded-lg p-2 bg-transparent text-white" id="photo" (change)="onFileSelected($event)" accept="image/*">
      </div>
      <div class="mt-6 flex justify-between">
        <button type="submit" class="w-1/2 bg-blue-500 text-white p-3 rounded-lg mr-2 transition duration-300 hover:scale-105 hover:bg-blue-600" (click)="createTask()">Create</button>
        <button type="button" class="w-1/2 bg-gray-500 text-white p-3 rounded-lg ml-2 transition duration-300 hover:scale-105 hover:bg-gray-600" (click)="goBack()">Back</button>
      </div>
    </form>
  </div>
</body>
</html>
