@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

body{
  background: url('../../../assets/background_proyect_create.png') no-repeat;
  font-family: 'Poppins', sans-serif;
}

.centered {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
}

.InputStyle{
border-radius: 25px;
border: solid 1px white;
background: transparent;
width: 300px;
  padding: 10px 20px;
}

.firstLine{
font-size: 30px;
color: white;
}

.white{
  color:white;
}

.btn{
  background-color: wheat;
}
